<h1>Listing userblocks</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @userblocks.each do |userblock| %>
  <tr>
    <td><%=h userblock.name %></td>
    <td><%= link_to 'Show', userblock %></td>
    <td><%= link_to 'Edit', edit_userblock_path(userblock) %></td>
    <td><%= link_to 'Destroy', userblock, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New userblock', new_userblock_path %>