<html>
<head>

<%#= Seer::init_visualization -%> 
</head>
<body>
<%= link_to 'New keyword', new_keyword_path %>
<% if !@keywords.blank? %>
	<h1>Listing keywords</h1>

	<table>
	  <tr>
	    <th>Name</th>
	  </tr>

	<% @keywords.each do |keyword| %>
	  <tr>
	    <td><%=h keyword.name %></td>
	    <td><%= link_to 'Show', keyword %></td>
	    <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
	    <td><%= link_to 'Destroy', keyword, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />


	<!--<div id="graph" style="width:600px;height:300px;"></div>-->

	<%#= chart("graph", { "Twitter" => { :collection => @url_count, :x => :original_url, :y => :counter }}) %>
<% else %>
	No Keywords are entered yet.
<% end %>

</body>
</html>
