<!--<div class="middle_content">-->
	<div class="left_content">
		<% if !@websites.blank? %>
			<div class="contents border">
				<div class="heading_main">
					<div class="heading heading_comm" style="width:100%;"><h2 class="title">The most popular Twitter Websites</h2></div><br />
					<span class="rank_heading">Ranked by ruby on rails related tweets and refreshed daily.</span>			
				</div>
 				<div class="content_inn">
					<% for web in @websites %>
						<div class="web_contents">
							<div class="url_count">
								<div class="cnt_img"><font style="arial" color="#333333;"><%= web.counter %></font></div><br />
								<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<a href="http://twitter.com/share?url=http://www.railstwits.com/<%= web.id.to_s %>/&amp;text=<%=web.title%>&amp;via=railstwits&amp;count=none" class="twitter-share-button">Tweet</a>
							</div><!--url_count ends-->
								<div class="ur_contents">
									<div class="ur_title">
										<h3><%= link_to web.website, website_detail_url(:id => web.id) %></h3>
									</div>			
									<div class="ur_website_content">
										<span class="web_name"><%= web.keyword_url.url_title %></span>&nbsp;-&nbsp;<% if !web.keyword_url.url_content.blank? %><%= web.keyword_url.url_content %><% else %><%#= tweeturl.url_title %><% end %>
									</div>
								</div><!-- ur_contents ends -->

									<div class="more">
											<%#= link_to 'more &raquo;', website_detail_url(:id => web.id) %>
									</div>
						</div><!-- web_contents ends-->
					<% end %>
				</div><!-- web_content_main div ends -->
			</div>
		<% end %>		
	</div><!-- left_content ends -->

					<div class="right_content">
							<%= render :partial => '/home/home_rightframe' %>	
							<%= render :partial => '/home/hashtags' %>	
					</div>
<!--</div>-->
